.cart {
  h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    border-bottom: 2px solid #000;
    margin-top: 0;
    padding-top: 30px;
  }

  .priceResult {
    display: grid;
    justify-content: end;
    margin: 50px 0;
    padding: 0 20px;

    p {
      font-size: 25px;
      b {
        font-size: 25px;
        margin-right: 20px;
      }
    }

    button {
      background-color: #724cf9;
      color: #fff;
      font-size: 22px;
      text-transform: uppercase;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
    }
  }

  .orderSend {
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .cart {
    .priceResult {
      justify-content: center;
    }
  }
}
