.cartCounter {
  justify-self: end;
  align-self: center;
  b {
    font-size: 20px;
    margin: 0 15px;
    color: #724cf9;
  }

  button {
    border: 1px solid #724cf9;
    border-radius: 5px;
    background-color: transparent;
    color: #724cf9;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
  }
}

.shopItemFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  margin-top: auto;

  .shopItemPrice {
    font-size: 20px;
    font-weight: 300;
    color: #724cf9;
  }
}

.cartItem {
  display: grid;
  height: 500px;
  max-width: 300px;
  border: 1px solid rgba(133, 109, 221, 0.5);
  grid-template-rows: 2fr 1fr 1fr;
  border-radius: 10px;
  padding: 15px;

  .textInfo {
    display: grid;
    grid-template-rows: 80px 30px 1fr;
  }

  h3 {
    a {
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
    }
  }

  p {
    font-size: 15px;
  }

  .categoryName {
    span {
      color: #724cf9;
      text-transform: uppercase;
      font-weight: 300;
    }
  }

  img {
    height: 250px;
    width: 200px;
    justify-self: center;
    align-self: center;
  }
}

@media (max-width: 850px) {
  .cartItem {
    max-width: 80%;
    justify-self: center;
  }
}

@media (max-width: 700px) {
  .cartItem {
    max-width: 100%;
  }
}
