.signUp {
  height: 100vh;

  h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    border-bottom: 2px solid #000;
    margin-top: 0;
    padding-top: 30px;
  }

  form {
    display: grid;
    grid-template-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;

    input {
      border-radius: 20px;
      height: 50px;
      border: none;
      background-color: #ddd;
      padding: 0 15px;
      margin-top: 10px;
      font-size: 18px;
    }

    .registerLink {
      font-size: 20px;
      margin: 0;

      a {
        text-decoration: none;
        color: #724cf9;
      }
    }

    input:focus,
    input:focus-visible {
      border: 2px solid #724cf9;
      outline: none;
    }

    button {
      justify-self: start;
      background-color: #724cf9;
      color: #fff;
      font-size: 20px;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
