.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  height: 70px;
  padding: 15px 15px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 1320px;
}

.logo {
  justify-self: start;
  span {
    color: #724cf9;
  }

  a {
    text-decoration: none;
  }

  a:active {
    color: #000;
  }

  font-size: 27px;
}

.menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin: 0 20px;

      a {
        color: #724cf9;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
}

.userMenu {
  display: grid;
  justify-content: end;
  justify-self: end;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    svg {
      padding-top: 2px;
    }

    li {
      margin: 0 20px;

      a {
        color: #724cf9;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }

  .basket {
    position: relative;

    .counter {
      position: absolute;
      right: -5px;
      top: -8px;
      font-size: 15px;
      color: red;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
}

.logout {
  cursor: pointer;
}
