.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 50px;
  margin-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  max-width: 1320px;
  margin: 0 auto;

  .linksList {
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
    }

    a {
      text-transform: uppercase;
      color: #724cf9;
      line-height: 30px;
    }

    .media {
      h3 {
        text-align: center;
      }

      ul {
        display: flex;
        justify-content: space-between;
      }

      img {
        width: 40px;
        margin: 0 15px;
      }

      a:hover img {
        width: 46px;
        margin: 0 12px;
      }
    }
  }
}

.copyright {
  margin-top: 50px;
  border-top: 1px solid #a09f9f;

  p {
    text-align: center;
  }
}
