.productItem {
  display: grid;
  grid-template-columns: 35px 1fr 2fr 2fr;
  grid-template-areas: "button photo info priceWrapper";

  img {
    height: 135px;
    grid-area: photo;
  }

  .info {
    grid-area: info;

    h2 {
      font-weight: 300;
      text-transform: uppercase;
    }

    span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .price {
    grid-area: price;
    align-self: center;
    font-size: 25px;
    font-weight: 300;
    justify-self: end;
  }

  .allPrice {
    grid-area: total-price;
    align-self: center;
    font-size: 25px;
    font-weight: 300;
    justify-self: start;
  }

  .cartCounter {
    grid-area: quantity;
    justify-self: center;
  }

  .closeButton {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    position: relative;
    grid-area: button;
    align-self: start;
    justify-self: start;
    cursor: pointer;

    div {
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: red;
      top: 0;
    }

    div:first-child {
      transform: rotate(45deg);
    }

    div:last-child {
      transform: rotate(-45deg);
    }
  }

  .cartCounter {
    justify-self: center;
    align-self: center;

    b {
      font-size: 20px;
      margin: 0 15px;
      color: #724cf9;
    }

    button {
      border: 1px solid #724cf9;
      border-radius: 5px;
      background-color: transparent;
      color: #724cf9;
      width: 30px;
      height: 30px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .priceWrapper {
    display: grid;
    grid-area: priceWrapper;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "price quantity total-price";
    column-gap: 15px;
  }
}

@media (max-width: 1200px) {
  .productItem {
    grid-template-columns: 35px 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "button photo info info"
      "button photo priceWrapper priceWrapper";

    .priceWrapper {
      grid-template-columns: 50px 150px 50px;
    }

    img {
      margin-right: 15px;
    }

    .info {
      h2 {
        margin-top: 0;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .productItem {
    grid-template-columns: 35px 1fr;
    grid-template-rows: 1fr 100px 80px;
    grid-template-areas:
      "button photo"
      "button info"
      "button priceWrapper";

    img {
      margin: 0 0 25px 0;
      justify-self: center;
    }

    .priceWrapper {
      grid-template-columns: 50px 110px 50px;
      justify-self: start;
    }
  }
}
