.productItem {
  display: grid;
  grid-template-columns: 35px 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas: "button photo info price quantity total-price";

  img {
    height: 135px;
    grid-area: photo;
  }

  .info {
    grid-area: info;

    h2 {
      font-weight: 300;
      text-transform: uppercase;
    }

    span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .price {
    grid-area: price;
    align-self: center;
    font-size: 25px;
    font-weight: 300;
    justify-self: end;
  }

  .allPrice {
    grid-area: total-price;
    align-self: center;
    font-size: 25px;
    font-weight: 300;
    justify-self: start;
  }

  .cartCounter {
    grid-area: quantity;
    justify-self: center;
  }

  .closeButton {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    position: relative;
    grid-area: button;
    align-self: start;
    justify-self: start;

    div {
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: red;
      top: 0;
    }

    div:first-child {
      transform: rotate(45deg);
    }

    div:last-child {
      transform: rotate(-45deg);
    }
  }

  .cartCounter {
    justify-self: center;
    align-self: center;

    b {
      font-size: 20px;
      margin: 0 15px;
      color: #724cf9;
    }

    button {
      border: 1px solid #724cf9;
      border-radius: 5px;
      background-color: transparent;
      color: #724cf9;
      width: 30px;
      height: 30px;
      font-size: 20px;
    }
  }
}
