.burgerMenu {
  width: 40px;
  height: 25px;
  align-self: center;
  justify-self: end;

  span {
    display: block;
    margin-bottom: 6px;
    background-color: #724cf9;
    height: 2px;
  }
}

.menuOpenIcon {
  span:last-child {
    display: none;
  }

  span:first-child {
    transform: translate(5px, 7px) rotate(-45deg);
  }

  span {
    transform: translate(5px) rotate(45deg);
  }
}

.mobileMenu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  height: 100%;
  width: 40vw;
  padding: 0 20px;

  .activeLink {
    border-bottom: 2px solid #724cf9;
  }

  h2 {
    text-transform: uppercase;
    color: #724cf9;
    font-size: 25px;
    font-weight: 300;
  }

  ul {
    list-style: none;
    padding-left: 15px;

    li {
      margin-bottom: 15px;
    }

    a {
      font-size: 20px;
      text-decoration: none;
      color: #724cf9;
    }

    .basket a {
      margin-right: 10px;
    }
  }

  .userMenu {
    margin-top: 50px;

    a {
      color: red;
    }
  }
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.3;
}

@media (max-width: 600px) {
  .mobileMenu {
    width: 60vw;

    h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .mobileMenu {
    width: 70vw;
  }
}

@media (min-width: 700px) {
  .burgerMenu {
    display: none;
  }
}
