.wrapper {
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
}

.shop {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  .categoryBlock {
    margin-bottom: 80px;
  }

  h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    border-bottom: 2px solid #000;
    margin-top: 0;
    padding-top: 30px;
  }

  .catalog {
    .categoryHeader {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 20px;
      margin-bottom: 15px;

      div {
        align-self: center;
        height: 1px;
        background-color: #724cf9;
      }
    }

    h2 {
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 300;
      color: #724cf9;
      padding: 0;
      margin: 0;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;

      li {
        display: grid;
        height: 500px;
        max-width: 300px;
        border: 1px solid rgba(133, 109, 221, 0.5);
        grid-template-rows: 2fr 1fr 1fr;
        border-radius: 10px;
        padding: 15px;

        h3 {
          font-size: 20px;
          font-weight: 300;
          text-transform: uppercase;
        }

        p {
          font-size: 15px;
        }

        img {
          width: 80%;
          justify-self: center;
        }

        .cartCounter {
          justify-self: end;
          align-self: center;
          b {
            font-size: 20px;
            margin: 0 15px;
            color: #724cf9;
          }

          button {
            border: 1px solid #724cf9;
            border-radius: 5px;
            background-color: transparent;
            color: #724cf9;
            width: 30px;
            height: 30px;
            font-size: 20px;
          }
        }

        .shopItemFooter {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-self: center;
          margin-top: auto;

          .shopItemPrice {
            font-size: 20px;
            font-weight: 300;
            color: #724cf9;
          }
        }
      }
    }
  }
}
