.wrapper {
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
}

.shop {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
}

.mainContent {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 0 20px;
}
