.priceBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  input {
    width: 80%;
    height: 30px;
    border: 1px solid #724cf9;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 14px;
    text-align: center;
  }
}
