.sort {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 17px;
  z-index: -1;

  .typeSort {
    justify-self: start;
    font-size: 20px;
    font-weight: 300;
    color: #724cf9;
    text-transform: uppercase;

    button {
      border: none;
      background-color: transparent;
      font-size: 17px;
      margin-left: 20px;
      cursor: pointer;
    }

    .activeSort {
      border-bottom: 1px solid #724cf9;
    }
  }

  .vectorSort {
    justify-self: end;
    z-index: -1;

    .acitve::after {
      border-top-color: #724cf9;
    }

    .asc {
      transform: rotate(180deg);
      left: 0;
      bottom: 10px;
    }

    button {
      position: relative;
      background: transparent;
      border: none;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      cursor: pointer;
    }

    button::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border: 12px solid transparent;
      border-top: 15px solid #000;
    }
  }
}

@media (max-width: 450px) {
  .sort {
    .typeSort {
      span {
        display: none;
      }

      button {
        margin-left: 0;
        margin-right: 20px;
      }
    }
  }
}
